    <!-- start footer  -->
    <footer>
        <div class="container">
            <div>
                <h4>Restaurateur</h4>
                <ul>
                    <li><a href="/html/Inscription.html">Inscrire un Restaurant</a></li>
                </ul>
            </div>
            <div>
                <h4>Contact</h4>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div>
                <h4>Explore</h4>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="/TopRestaurants">Top Restaurants</a></li>
                    <li><a href="/topDestination">Top Destinations</a></li>
                    <li><a href="/Nouveau">Nouveau</a></li>
                    <li><a href="/map">Map</a></li>
                </ul>
            </div>
        </div>
        <span>© 2022 • Tous droits réservés •</span> 
    </footer>
<!-- End footer  -->