<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/menu.ejs") %>

    <!-- start landing -->
    <div class="landing">
        <div class="container">
            <div class="pics">
                <div id="top1" style="background-image: url(images/top-view-fast-food-mix-hamburger-doner-sandwich-chicken-nuggets-rice-vegetable-salad-chicken-sticks-caesar-salad-mushrooms-pizza-chicken-ragout-french-fries-mayo.jpg);" > <h1>NAME</h1></div>
                <div id="top2" style="background-image: url(images/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table.jpg);"><h1>NAME</h1></div>
                <div id="top3" style="background-image: url(images/chad-montano-MqT0asuoIcU-unsplash.jpg);"><h1>NAME</h1></div>
                <div id="top4" style="background-image: url(images/shawnanggg-nmpW_WwwVSc-unsplash.jpg);"><h1>NAME</h1></div>
                <div id="top5" style="background-image: url(images/patrick-tomasso-GXXYkSwndP4-unsplash.jpg);"><h1>NAME</h1></div>
            </div>
            <ul class="bullet">
                <li class="active" id="1"></li>
                <li id="2"></li>
                <li id="3"></li>
                <li id="4"></li>
                <li id="5"></li>
            </ul>
        </div>
    </div>
    <!-- end landing -->

    <!-- Start top Restaurants -->
    <div class="topRes">
            
        <div class="container">
                <button class="button previous res"><img src="images/chevron_left_black_24dp.svg" alt="" width="30px" height="30px"></button>
                <div class="content">
                    <div class="title">Meilleurs Restaurants</div>
                    <a href="html/TopRestaurants.html">Voir Tout</a>
                </div>
            <div class="fakeContainer">
                    
                        <div class="resList">
                            <div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div>
                            <div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div><div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div><div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div><div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div><div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div><div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div><div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div>
                            <div class="box">
                                <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                                <div class="resdet">
                                    <h3 class="resName">Restaurant Name</h3>
                                <div class="avis">
                                    <div class="evaluation" style="display: inline;">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                        <img src="images/star_border_black_24dp.svg" alt="">
                                    </div>
                                    <span class="views">000 Avis</span>
                                </div>
                                <h4>wilaya</h4>
                                </div>
                            </div>
                            
            </div>
            <button class="button next res"><img src="images/navigate_next_black_24dp.svg" alt="" width="30px" height="30px"></button>
            <hr>
        </div>
        </div>
    </div>
    <!-- End top Restaurants -->

    <!-- Start top Villes -->
            <div class="topVil">
                        
                <div class="container">
                    <button class="button previous vil"><img src="images/chevron_left_black_24dp.svg" alt="" width="30px" height="30px"></button>
                    <div class="content">
                        <div class="title">Meilleurs Villes</div>
                        <a href="html/topDestination.html">Voir Tout</a>
                    </div>
                    <div class="fakeContainer">
                        
                        <div class="vilList">
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                            <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                            <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                            <div class="box">
                                <a href="https://placeholder.com"></a>
                                <img src="https://via.placeholder.com/271x377" width="271px" height="377px" alt="">
                                <p>Ville Name</p>
                            </div>
                    </div>
                </div>
                <button class="button next vil"><img src="images/navigate_next_black_24dp.svg" alt="" width="30px" height="30px"></button>
                </div>
                    
            </div>
            
        </div>
    <!-- End top Villes -->

    <!-- Start restaurateur -->
    <div class="restaurateur">
        <h1>Vous êtes restaurateur ?</h1>
        <p>Rejoignez-nous pour que votre restaurant soit visible auprès de tous les internautes de votre ville !</p>
        <button>Rejoignez-nous !</button>
    </div>
    <!-- End restaurateur -->
    <%- include("./partials/footer.ejs") %>
    <script src="/javaScript/main.js"></script>
</body>
</html>
