<%- include("../partials/header.ejs") %>

<body>
    <%- include("../partials/menu.ejs") %>
    <!-- start nouveaux  -->
    <div class="nouveau">
        <div class="container">
            <h1 style="margin: 50px 0;">Nouveaux Arrivants ! </h1>
            <div class="nouvContent">
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
                <div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div><div class="box">
                    <div class="resPic"><a href="https://placeholder.com"></a><img src="https://via.placeholder.com/271x175" width="271px" height="175px" alt=""></div> 
                    <div class="resdet">
                        <h3 class="resName">Restaurant Name</h3>
                    <div class="avis">
                        <div class="evaluation" style="display: inline;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="views">(0)</span>
                    </div>
                    <h4>wilaya</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end nouveaux  -->






        <!-- Start restaurateur -->
        <div class="restaurateur">
            <h1>Vous êtes restaurateur ?</h1>
            <p>Rejoignez-nous pour que votre restaurant soit visible auprès de tous les internautes de votre ville !</p>
            <button>Rejoignez-nous !</button>
    </div>
    <!-- End restaurateur -->
    <%- include("../partials/footer.ejs") %>

    <script src="/javaScript/Nouveau.js"></script>
</body>
</html>
