<%- include("../partials/header.ejs") %>

<body>

    <%- include("../partials/menu.ejs") %>

    <!-- start destinations  -->
    <div class="destination">
        <div class="container">
            <h1 style="margin: 50px 0;">Les meilleures destinations disponibles !</h1>
            <div class="destContent">
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                <div class="box">
                    <button> Voir Tout les (n) Restaurants </button>
                    <img src="../images/nabil-bachir-bouiadjra-hdGOmk16RLg-unsplash-min.jpg"width="271px" height="377px" alt="">
                    <p>Ville Name</p>
                </div>
                
            </div>
            
        </div>
    </div>
    <!-- end destinations  -->
    <!-- Start restaurateur -->
        <div class="restaurateur">
            <h1>Vous êtes restaurateur ?</h1>
            <p>Rejoignez-nous pour que votre restaurant soit visible auprès de tous les internautes de votre ville !</p>
            <button>Rejoignez-nous !</button>
    </div>
    <!-- End restaurateur -->
        <%- include("../partials/footer.ejs") %>

    <script src="/javaScript/Destination.js"></script>
</body>
</html>
