<%- include("../partials/header.ejs") %>

<body>
    <%- include("../partials/menu.ejs") %>
    
    <div class="best">
        <div class="container">
            <div class="hed">
                <div class="photo">
                    logo
                    <img src="" alt="">
                </div>
                <div class="title">
                    <h1>Meilleurs restaurants gastronomiques</h1>
                    <p>Une cuisine haut de gamme qui impressionnera vos papilles.</p>
                </div>
            </div>
            <div class="rank">
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
                    <div class="bx">
                            <div class="bximg">
                                <img src="../images/1.jpg" alt="">
                            </div>
                            <div class="bxdet">
                                <h4> <a href="#"><span class="number">n</span> _Name</a> </h4>
                                <p> <a href="#">Ville</a></p>
                                <div class="avis">
                                        <div class="evaluation" style="display: inline;">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                            <img src="../images/star_border_black_24dp.svg" alt="">
                                        </div>
                                    <span>(0)</span>
                                    </div>
                                
                                <div class="tags">
                                    <div>menu</div>
                                    <div>menu</div>
                                    <div>menu</div>
                                </div>
                                <div class="comment">
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                        <p>“All the staff want you to enjoy every moment of every course”</p>
                                </div>
                                <a href="" class="more">Plus</a>
                                
                            </div>
                            
                    </div>
                    <hr>
            </div>
        </div>
    </div>
    <!-- Start restaurateur -->
    <div class="restaurateur">
            <h1>Vous êtes restaurateur ?</h1>
            <p>Rejoignez-nous pour que votre restaurant soit visible auprès de tous les internautes de votre ville !</p>
            <button>Rejoignez-nous !</button>
    </div>
    <!-- End restaurateur -->
    <%- include("../partials/footer.ejs") %>
    <script src="/javaScript/TopRestaurants.js"></script>
</body>
</html>