<%- include("../partials/header.ejs") %>

<body>
    <%- include("../partials/menu.ejs") %>

        <!-- start landing  -->    
        <div class="resLanding">
        </div>
        <!-- end landing  -->
        
        <div class="details">
            <div class="container">
                <div class="detContent">
                    <h1> <a href="restaurantDetails.html">Name</a> </h1>
                    <hr style="margin-bottom: 20px;">
                    <div class="avis">
                        <div class="evaluation" style="display: inline; margin-right: 10px;">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                            <img src="../images/star_border_black_24dp.svg" alt="">
                        </div>
                        <span class="moyenne">0.0</span>
                        <span class="Commentaires"><img src="../images/mode_comment_black_24dp.svg" alt=""> 0.0</span>
                        <span class="price"><img src="../images/monetization_on_black_24dp.svg" alt=""> 0.0</span>

                    </div>
                    <div class="topTags">
                        <h4>Top Tags : </h4>
                        <div>menu</div>
                        <div>menu</div>
                        <div>menu</div>
                    </div>
                    <div class="detail">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Ducimus ullam magni eos odit velit, ipsa distinctio qui quo,
                            nesciunt dolorem dolore aperiam recusandae. Saepe minima autem nulla unde iste maxime?</p>
                    </div>
                    <div id="comment">
                        <h3>Ce que les gens disent</h3>
                        <hr style="margin-bottom: 20px;">
                        <div class="cmnt">
                            <div class="person">
                                <img src="" alt="" width="50px" height="50px" style="border-radius: 50%; border: .5px solid black;">
                                <p class="nom">name</p>
                                <p class="wilaya">wilaya</p>
                                <div class="eval">
                                    <img src="../images/mode_comment_black_24dp.svg" alt="" width="20px" height= "20px">
                                    <span class="number">n</span> Avis
                                </div>
                            </div>
                            <div class="comntContent">
                                    <div class="midl">
                                            <div class="evaluation" style="display: inline;">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                </div> 
                                                <p class="date">publié il y a N jours</p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora veniam reiciendis assumenda a </p>
                            </div>
                        </div>
                        <hr style="width: 90%; text-align: center; margin: 10px auto 20px;">
                        <div class="cmnt">
                            <div class="person">
                                <img src="" alt="" width="50px" height="50px" style="border-radius: 50%; border: .5px solid black;">
                                <p class="nom">name</p>
                                <p class="wilaya">wilaya</p>
                                <div class="eval">
                                    <img src="../images/mode_comment_black_24dp.svg" alt="" width="20px" height= "20px">
                                    <span class="number">n</span> Avis
                                </div>
                            </div>
                            <div class="comntContent">
                                    <div class="midl">
                                            <div class="evaluation" style="display: inline;">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                </div> 
                                                <p class="date">publié il y a N jours</p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora veniam reiciendis assumenda a </p>
                            </div>
                        </div>
                        <hr style="width: 90%; text-align: center; margin: 10px auto 20px;">
                        <div class="cmnt">
                            <div class="person">
                                <img src="" alt="" width="50px" height="50px" style="border-radius: 50%; border: .5px solid black;">
                                <p class="nom">name</p>
                                <p class="wilaya">wilaya</p>
                                <div class="eval">
                                    <img src="../images/mode_comment_black_24dp.svg" alt="" width="20px" height= "20px">
                                    <span class="number">n</span> Avis
                                </div>
                            </div>
                            <div class="comntContent">
                                    <div class="midl">
                                            <div class="evaluation" style="display: inline;">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                </div> 
                                                <p class="date">publié il y a N jours</p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora veniam reiciendis assumenda a </p>
                            </div>
                        </div>
                        <hr style="width: 90%; text-align: center; margin: 10px auto 20px;">
                        <div class="cmnt">
                            <div class="person">
                                <img src="" alt="" width="50px" height="50px" style="border-radius: 50%; border: .5px solid black;">
                                <p class="nom">name</p>
                                <p class="wilaya">wilaya</p>
                                <div class="eval">
                                    <img src="../images/mode_comment_black_24dp.svg" alt="" width="20px" height= "20px">
                                    <span class="number">n</span> Avis
                                </div>
                            </div>
                            <div class="comntContent">
                                    <div class="midl">
                                            <div class="evaluation" style="display: inline;">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                    <img src="../images/star_border_black_24dp.svg" alt="">
                                                </div> 
                                                <p class="date">publié il y a N jours</p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora veniam reiciendis assumenda a </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <%- include("../partials/footer.ejs") %>


    <script src="/javaScript/../javaScript/tousComment.js"></script>
</body>
</html>